
                
                <h2 class="navTitle CustomTitle">Delete Employee Detail</h2>
                <div class="popupContentWrapper">
                    <div class="popupContentContainer">
                        <fa-icon [icon] ="faTrashCan" class="deleteIcon"></fa-icon>
                        <h2>Are you sure?</h2>
                        <p>Deleting a row will permanently remove it from your library</p>
                    </div>
                    <div class="userprofileImage">
                    </div>
                </div>
                <div class="btn-Wrapper">
                    <button class="close-btn close-btn-popup popupCloseBtn">Cancel</button>
                    <button class="close-btn popupSaveBtn">Delete</button>
                </div>
            
           

