
<div class="contentWrapper dataTableContentWrapper">
  <div class="contentContainer">
      <div class="appContainer"></div>
      <div class="leftContent">
        <app-side-nav-bar></app-side-nav-bar>
        </div>
        <div class="rightContent">

<app-ltv-upload-dropdown></app-ltv-upload-dropdown>

<div class="table">
  <div id="paragraphTable" class="display" style="width:100%">
 <div class="table_top_content">

  <!--Filter-->
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput  (keyup)="applyFilter($event)"  placeholder="Ex. ium" #input>
    <!-- <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Ex. ium" #input> -->
    </mat-form-field>
    <button class="drop-Btn ExportBtn" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Export as Excel</button>
  </div>
  
  <!--Data Table-->
    <!-- <div class="mat-elevation-z8"> -->
  <table  mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter"  matSort class="mat-elevation-z8 tableDataContent">
  
      <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
      <td mat-cell *matCellDef="let element" > {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="psNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PS Number </th>
      <td mat-cell *matCellDef="let element"> {{element.psNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="emailAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
    </ng-container>
  
    <ng-container matColumnDef="departmentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name</th>
      <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Details">
      <th mat-header-cell *matHeaderCellDef> Details</th>
      <td mat-cell *matCellDef="let row" >
        <button class="icon-space editBtn" (click)="viewDetail(row)">View Details</button> </td>
      </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row" >
         <button class="icon-space editBtn" (click)="openEditDialog(row)">
           <!-- <fa-icon [icon] ="faPenToSquare">edit</fa-icon> -->
           <mat-icon>edit</mat-icon>
          </button>
          <button class="icon-space deleteBtn" (click)="openDeleteDialog(row)">
          <!-- <fa-icon [icon] ="faTrash">Delete</fa-icon> -->
           <mat-icon>delete</mat-icon> 
        </button>
      </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
  
    </table>
  <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>
  
<!-- </div> -->
</div>
</div> 
