
<div class="contentWrapper dataTableContentWrapper">
  <div class="contentContainer">
      <div class="appContainer"></div>
      <div class="leftContent">
        <app-side-nav-bar></app-side-nav-bar>
        </div>
        <div class="rightContent">

<skill-upload-dropdown></skill-upload-dropdown>

  
  <div class="table">
    <table id="paragraphTable" class="display" style="width:100%">
  
   <div class="table_top_content">
  
    <!--Filter-->
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput    placeholder="Ex. ium" #input>
      <!-- <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Ex. ium" #input> -->
      </mat-form-field>
      <!-- <button class="drop-Btn ExportBtn" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Export as Excel</button> -->
    </div>

    <!--Data Table-->
      <div class="mat-elevation-z8">
    <table  mat-table   [dataSource]="dataSource"   matSort>
    
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SkillName </th>
        <td mat-cell *matCellDef="let element" > {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="definition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.definition}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="criticalityLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill Criticality</th>
        <td mat-cell *matCellDef="let element" > {{element.criticalityLevel}} </td>
        </ng-container>
    
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row" >
           <button class="icon-space editBtn" (click)="editSkillPopup(row)">
            <mat-icon>edit</mat-icon>
             <!-- <fa-icon [icon] ="faPenToSquare">edit</fa-icon> -->
            </button>
            <button class="icon-space deleteBtn" (click)="deleteSkillPopup(row)" >
              <mat-icon>delete</mat-icon>
            <!-- <fa-icon [icon] ="faTrash">Delete</fa-icon> -->
            </button>
        </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>

    <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>

    </div>

    </table>
    </div>
    </div>
    

