


<div class="contentWrapper dataTableContentWrapper">
    <div class="contentContainer">
        <div class="appContainer"></div>
        <div class="leftContent">
          <app-side-nav-bar></app-side-nav-bar>
          </div>
<div class="rightContent">
    <div class="topContent">
        <h2 class="title CustomTitle mainTitle">First Assessment</h2>
        <input class="searchField" type="text" placeholder="Search">
    </div>
    <!-- <div class="bottomContent">
        
        <button class="Click-here addContent">+ Add Department</button> 
    </div> -->

    <div class="employee_detail">
        <div class="employee_detail_content">
            <h2>Employee Name :</h2>
            <h3>Kamal</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Employee ID :</h2>
            <h3>001</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Process :</h2>
            <h3>Welding</h3>
        </div>
        <!-- <div class="employee_detail_content">
            <h2>Qualification :</h2>
            <h3>B.E</h3>
        </div> -->

    </div>
  
    <div class="assessmentContent">
    <div class="tableContainer">
        <div class="table tableSpace">
            <table  mat-table matTableExporter  #exporter="matTableExporter" [dataSource]="posts" matSort class="mat-elevation-z8 tableDataContent">
  
                <ng-container matColumnDef="Skill">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
                <td mat-cell *matCellDef="let element"> {{element.skillName}} </td>
                </ng-container>
            
              <ng-container matColumnDef="Level">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
                <td mat-cell *matCellDef="let element" > 
                  <mat-form-field appearance="fill">
                    <mat-label>Select me</mat-label>
                    <mat-select >
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                  </mat-form-field> </td>
              </ng-container>
            
              <ng-container matColumnDef="Training">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Training </th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="fill">
                    <mat-label>Select me</mat-label>
                    <mat-select >
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                  </mat-form-field>  </td>
              </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
            
              </table>
        </div>    
    </div>
    <div class="cardAccordion">
      <div class="cardWrapper">
   
      <!-- <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>

      </div> -->
      <h2>Level Description</h2>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Level A
            </mat-panel-title>
           
          </mat-expansion-panel-header>
      
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Operation"> Able to giuide / train others to attain level 3</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>
      
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Level B
            </mat-panel-title>
           
          </mat-expansion-panel-header>
      
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Level C
            </mat-panel-title>
           
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Level D
            </mat-panel-title>
           
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
        </mat-expansion-panel>
      </mat-accordion>
      </div>
          
      <div class="portalSaveBtn">
        <button class="close-btn popupCloseBtn">Close</button>
        <button class="close-btn popupSaveBtn">Save</button>
    </div>
          
    </div>
   
</div>

   
</div>

    </div>
    </div>
