.example-accordion {
    display: block;
    max-width: 500px;
  }
  
  .example-accordion-item {
    display: block;
    border: solid 1px #ccc;
  }
  
  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }
  
  .example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  
  .example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
  }
  
  .example-accordion-item-header,
  .example-accordion-item-body {
    padding: 16px;
  }
  
  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
  }
  
  .example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  

  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  table.mat-table.cdk-table.mat-sort.mat-elevation-z8.tableDataContent {
    width: 100%;
}

.cardAccordion {
  height: fit-content;
  margin-top: 0px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  background-color: white;
  box-shadow: 0 8px 10px 0px #d1d9e6;
  width:48%;
}
.tableContainer{
  width:48%
}

.cardWrapper h2{
  font-size: 18px;
    color: #181818;
    font-weight: bolder;
    padding: 15px !important;
}