<p>first-assessment works!</p>

<div class="rightContent">
    <div class="topContent">
        <h2 class="title CustomTitle mainTitle">First Assessment</h2>
        <input class="searchField" type="text" placeholder="Search">
    </div>
    <!-- <div class="bottomContent">
        
        <button class="Click-here addContent">+ Add Department</button> 
    </div> -->

    <div class="employee_detail">
        <div class="employee_detail_content">
            <h2>Employee Name :</h2>
            <h3>Kamal</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Employee ID :</h2>
            <h3>001</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Process :</h2>
            <h3>Welding</h3>
        </div>
        <!-- <div class="employee_detail_content">
            <h2>Qualification :</h2>
            <h3>B.E</h3>
        </div> -->

    </div>
  
    <div class="assessmentContent">
    <div class="tableContainer">
        <div class="table tableSpace">
            <table id="paragraphTable" class="display" style="width:100%">

            </table>
        </div>    
    </div>
    <div class="cardAccordion">
    <div class="cardContainer">
        <h1>Level description</h1>
        <div class="accordion-container">
            <div class="set">
                <a href="#">
            Level A
            <i class="fa fa-plus"></i>
          </a>
                <div class="content">
                    <div class="tabset">
                        <!-- Tab 1 -->
                        <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
                        <label class="openAcc" for="tab1">Operation</label>
                        <!-- Tab 2 -->
                        <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
                        <label class="openAcc" for="tab2">Maintanence</label>
                        <!-- Tab 3 -->
                        <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
                        <label for="tab3">Safety</label>
                         <!-- Tab 4 -->
                         <input type="radio" name="tabset" id="tab4" aria-controls="dunk">
                         <label for="tab4">Improvement
                        </label>
    
                        <div class="tab-panels">
                            <section id="marzen" class="tab-panel openTab">
                               <p>Able to giuide / train others to attain level 3
                            </p>
                            </section>
                            <section id="rauchbier" class="tab-panel closeTab">
                                <p>Able to teach 5S & JH to others
                                </p>
                            </section>
                            <section id="dunkles" class="tab-panel">
                               <p>Train other to handle abnormal situation & Hazards</p> 
                            </section>
                            <section id="dunk" class="tab-panel">
                                <p>Able to apply different quality tools.
                                </p>
                            </section>
                        </div>
    
                    </div>
                </div>
            </div>
            <div id="#tab2" class="set">
                <a href="#">
             Level B
            <i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <div class="tabset">
                <!-- Tab 1 -->
                <input type="radio" name="tabset" id="tab11" aria-controls="marzen" checked>
                <label for="tab11">Operations</label>
                <!-- Tab 2 -->
                <input type="radio" name="tabset" id="tab21" aria-controls="rauchbier">
                <label class="openAccTwo" for="tab21">Quality</label>
                <!-- Tab 3 -->
                <input type="radio" name="tabset" id="tab31" aria-controls="dunkles">
                <label for="tab31">Maintanence</label>
                 <!-- Tab 4 -->
                 <input type="radio" name="tabset" id="tab41" aria-controls="dunk">
                 <label for="tab41">Safety</label>

                <div class="tab-panels">
                    <section id="marzen" class="tab-panel openTabTwo">
                       <p>Able to perform elemental activity (methods)independently as per Control plan- Production operator
                    </p>
                    <p>Able to explain the effect of non conformance of parts , process to the customer (Ref.Control plan)
                    </p>
                    <p>Able to perform inspection activity independently as per Control plan- for inspector
                    </p>
                    </section>
                    <section id="rauchbier" class="tab-panel">
                        <p>Able to demonstrate inspection of parts visually and with measuring instruments and gauges independently within TAKT time 
                        </p>
                    </section>
                    <section id="dunkles" class="tab-panel">
                      <p>Implement 1S,2S & 3S at machine level & autonomous Maintenance.
                    </p>
                    <p>Able to change the plug & play element in machine
                    </p>
                    </section>
                    <section id="dunk" class="tab-panel">
                       <p>Knowledge in specific hazards & handling abnormal situation 
                    </p>
                    </section>
                </div>

            </div>
        </div>
            </div>
            <div id="#tab3" class="set">
                <a href="#">
             Level C
            <i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <div class="tabset">
                <!-- Tab 1 -->
                <input type="radio" name="tabset" id="tab12" aria-controls="marzen" >
                <label for="tab12">Operations</label>
                <!-- Tab 2 -->
                <input type="radio" name="tabset" id="tab22" aria-controls="rauchbier">
                <label class="openAccThree" for="tab22">Quality</label>
                <!-- Tab 3 -->
                <input type="radio" name="tabset" id="tab33" aria-controls="dunkles">
                <label for="tab33">Maintanence</label>
                 <!-- Tab 4 -->
                 <input type="radio" name="tabset" id="tab44" aria-controls="dunk">
                 <label for="tab44">Safety</label>

                <div class="tab-panels">
                    <section id="marzen" class="tab-panel openTabThree">
                        <p>Able to understand how to operate the machine and tools used for process
                        </p>
                        <p>Able to understand part handling methods and explain the consequence of no adhering
                        </p>
                        <p>Able to perform elemental activity(methods) as said in contol plan within TAKT time 
                        </p>
                        <p>Able to perform daily management activities with guidence(check sheet , log sheet , charts )- for production operator
                        </p>
                        <p>Able to perform management activies with guidence(rejection charts, PDIR )-for inspectors
                        </p>
                    </section>
                    <section id="rauchbier" class="tab-panel">
                       <p>Skill assessment & On the Job Training(OJT) card
                    </p>
                    <p>Able to fill rejection / rework / scrap tag
                    </p>
                    </section>
                    <section id="dunkles" class="tab-panel">
                      <p>Follow up the clean Lubrication Inspection & Tightening (CLIT) standard as recommended & perform 2S at the machine.
                    </p>
                    <p>Identify the weak and going to fail parts / tools 
                    </p>

                    </section>
                    <section id="dunk" class="tab-panel">
                        <p>Knowledge on abnormal situation & Accident Prevention
                        </p>
                    </section>
                </div>

            </div>
        </div>
            </div>
            <div id="#tab4" class="set">
                <a href="#">
             Level D
            <i class="fa fa-plus"></i> 
          </a>
          <div class="content">
            <div class="tabset">
                <!-- Tab 1 -->
                <input type="radio" name="tabset" id="tab15" aria-controls="marzen" >
                <label for="tab15">Operations</label>
                <!-- Tab 2 -->
                <input type="radio" name="tabset" id="tab25" aria-controls="rauchbier">
                <label class="openAccFour" for="tab25">Quality</label>
                <!-- Tab 3 -->
                <input type="radio" name="tabset" id="tab35" aria-controls="dunkles">
                <label for="tab35">Maintanence</label>
                 <!-- Tab 4 -->
                 <input type="radio" name="tabset" id="tab45" aria-controls="dunk">
                 <label for="tab45">Safety</label>

                <div class="tab-panels">
                    <section id="marzen" class="tab-panel openTabFour">
                        <p>Able to list the parts and its functions using Work Standard Sheet (WSS).
                        </p>
                        <p>Able to list the process & tools used for assembling the parts as per control plan and WSS
                        </p>
                    </section>
                    <section id="rauchbier" class="tab-panel">
                       <p>Able to explain pre check and post check for the part / process as per control plan
                    </p>
                    <p>Able to list measuring instruments and gauges used for the process
                    </p>
                    <p>Able to perform visual inspection & understand action to be take in case of non conformance as stated in the control plan
                    </p>
                    </section>
                    <section id="dunkles" class="tab-panel">
                      <p>Process knowledge on the machine & safety system installed & able to clean the machine as per check sheet(1S)
                    </p>        
                    </section>
                    <section id="dunk" class="tab-panel">
                        <p>Knowledge in risk & Hazard identification
                        </p>
                    </section>
                </div>

            </div>
        </div>
       
        </div>
            </div>
           
        </div>
        <div class="portalSaveBtn">
            <button class="close-btn popupCloseBtn">Close</button>
            <button class="close-btn popupSaveBtn">Save</button>
        </div>
    </div>
    
</div>

   
</div>