

<div class="topContent">
  <h2 class="title CustomTitle mainTitle">Skill</h2>
  <div class="topContent_btn">
    <button class="btn btn-secondary drop-Btn ExportBtn ">Download Template</button>
  
<!--upload dropdown field-->
<mat-form-field class="dropDownBtn" appearance='outline'>
  <mat-select name="countryReactiveVaraible"  placeholder="+ Add Skill">
    <mat-option (click)="singleUploadDialog(skillsingleUploadPopup)">Single Upload</mat-option>
    <mat-option (click)="BulkUploadDialog(skilbulkUploadPopup)"> Bulk Upload</mat-option>
  </mat-select>
</mat-form-field>

<!--Single upload-->
<ng-template #skillsingleUploadPopup>
  <div class="popUpContainer">
    <h2 class="navTitle CustomTitle">Create Skill</h2>
    <div class="formContainer">
     
      <div class="singleUploadForm">
       
        <div class="formLeftContent"  [formGroup]="formValue">
          <mat-form-field appearance="fill">
            <mat-label>Skill ID</mat-label>
             <input name="id" formControlName="id" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label >Skill Name</mat-label>
            <input name="name" formControlName="name" matInput >
          </mat-form-field>
        </div>
        <div class="formRightContent" [formGroup]="formValue">
          <mat-form-field appearance="fill">
            <mat-label>Skill Definition</mat-label>
            <input name="definition" formControlName="definition" matInput >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Skill Criticality</mat-label>
            <input name="criticalityLevel" formControlName="criticalityLevel" matInput >
          </mat-form-field>
        </div>
     
      </div>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button  color="primary" (click)="addSkill()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
     </div> 

</ng-template>

<!--Bulk Upload-->
<ng-template #skilbulkUploadPopup>

  <div class="popUpContainer">
    <h2 class="navTitle CustomTitle">Attach Your Documents</h2>
    <div class="popupContentWrapper">
        <div class="popupContentContainer">
            <div class="dragContainer">
                <div class="dragContent">
                    <!-- <fa-icon [icon] ="faCloudArrowUp" class="uploadIcon">UPLOAD</fa-icon> -->
                    <h3>Drag and drop here<br>or</h3>
                     <button class="browseFilesBtn">Browse files</button> 
                    <!-- <h3 class="dropFileBtn">Browse Files</h3> -->
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
        <button mat-button color="primary">Upload</button>
      </mat-dialog-actions>
    </div>
    
</ng-template>

<div>

</div>
</div>

  