<p>dashboard works!</p>


<div class="row card_wrapper">
    <div class="dashboard_card">
        <div class="card-box bg-blue">
            <div class="inner">
                <h3> 13436 </h3>
                <p> Count of LTVL users </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <a href="ltvlMaster.html" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="dashboard_card">
        <div class="card-box bg-green">
            <div class="inner">
                <h3> ₹185358 </h3>
                <p> Count of NAPS users </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-users-gear"></i>
            </div>
            <a href="naps.html" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="dashboard_card">
        <div class="card-box bg-orange">
            <div class="inner">
                <h3> 5464 </h3>
                <p> Count of LTVL Departments </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-landmark"></i>
            </div>
            <a href="departmentMaster.html" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="dashboard_card">
        <div class="card-box bg-red">
            <div class="inner">
                <h3> 723 </h3>
                <p> Count of Skills </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-user-graduate"></i>
            </div>
            <a href="skillMaster.html" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="dashboard_card">
        <div class="card-box bg-org">
            <div class="inner">
                <h3> 723 </h3>
                <p> Count of Product Group & Product Line </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-industry"></i>
            </div>
            <a href="locationSupervisor.html" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>