
 <!----Desktop Navigation-->
 <div class="sideNav desktopNav">
    <div class="navTopContent ">
         <div class="logo">
            <img [src]="logoimage" alt="">
        </div> 
        <div class="userprofile">
            <div class="profileImg">
                <img [src]="profileimage" alt="">
            </div>
            <div class="profileContent">
                <h2 class="navTitle ">Intellifer Systems</h2>
                <h3 class="navSubtitle subTitle">Marketing</h3>
            </div>
        </div>
    </div>

    <div class="pagesNav">
        <div class="sidenavDropdown">
            <a class="navHeading" routerLinkActive="active" routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a>
            <a class="navHeading" routerLinkActive="active" routerLink="/ltvEmployee"><mat-icon>supervisor_account</mat-icon>LTV Employee</a>
            <a class="navHeading" routerLinkActive="active" routerLink="/naps"><mat-icon>account_circle</mat-icon>NAPS Employee</a>
            <a class="navHeading" routerLinkActive="active" routerLink="/department"><mat-icon>account_balance</mat-icon>Department</a> 
             <a class="navHeading" routerLinkActive="active" routerLink="/skill"><mat-icon>local_library</mat-icon>Skill</a> 
            <a class="navHeading" routerLinkActive="active" routerLink="/productGroup&Line"><mat-icon>place</mat-icon>Product Group & Line</a>
            <a class="navHeading" routerLinkActive="active" routerLink="/skillMapping"><mat-icon>library_books</mat-icon>Skill Mapping</a>
            <a class="navHeading" routerLinkActive="active" routerLink="/trainingRecommendation"><mat-icon>training</mat-icon>Training Recommendation</a> 

        </div>

    </div>
</div>

<!--Tablet Navigation-->
<div class="sideNav tabNav">
    <div class="navTopContent ">
        <div class="logo">
            <img [src]="tablogoimage" alt="">
        </div>
   
         <!-- <div id="mySidenav"  #mySidenav class="mysidenav">
            <a href="javascript:void(0)" class="closebtn" (click)=""><mat-icon>close</mat-icon></a>
            <div class="logo">
                <img src="assests/img/logoFinal.png">
            </div>
            <div class="profileImg">
                <img src="assests/img/profile-pic-2.jpg">
            </div>
            <div class="profileContent">
                <h2 class="navTitle ">Intellifer Systems</h2>
                <h3 class="navSubtitle subTitle">Marketing</h3>
            </div>


            <div class="pagesNav">

                <div class="sidenavDropdown">

                    <a href="dashboard.html" class="navHeading"><i class="fa-solid fa-gauge"></i>Dashboard</a>
                    <a href="ltvlMaster.html" class="navHeading"><i class="fa-solid fa-users"></i>LTVL Users</a>
                    <a href="naps.html" class="navHeading"><i class="fa-solid fa-users-gear"></i>NAPS Users</a>
                    <a href="departmentMaster.html" class="navHeading"><i class="fa-solid fa-landmark"></i>Department Master</a>
                    <a href="skillMaster.html" class="navHeading"><i class="fa-solid fa-user-graduate"></i>Skill Master</a>
                    <a href="locationSupervisor.html" class="navHeading"><i class="fa-solid fa-industry"></i>Product Group & Line</a>
                    <a href="trainingCreation.html" class="navHeading"><i class="fa-solid fa-chalkboard-user"></i>Training Recommendation</a>

                </div>
            </div>

        </div> 

        <div class="menuNav" (click)="sidebarShow = !sidebarShow">
            <mat-icon>menu</mat-icon>
        </div> -->

        <!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun">
            <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                         (closed)="events.push('close!')">
              Sidenav content
            </mat-sidenav>
          
            <mat-sidenav-content>
              <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
              <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
              <p>Events:</p>
              <div class="example-events">
                <div *ngFor="let e of events">{{e}}</div>
              </div>
            </mat-sidenav-content>
          </mat-sidenav-container> -->
        
    </div>

</div>


