<p>first-review works!</p>


<div class="rightContent">
    <div class="topContent">
        <h2 class="title CustomTitle mainTitle">First Review</h2>
        <input class="searchField" type="text" placeholder="Search" id="popupField">
    </div>
    <!-- <div class="bottomContent">
       
        <!-- <button class="Click-here addContent">+ Add Department</button> -->
        <!-- <label class="dropdown">

            <div class="dd-button">
              + Add Department
            </div>
          
            <input type="checkbox" class="dd-input" id="test">
          
            <ul class="dd-menu">
              <li class="Click-here">Single upload</li>
              <li class="Click-here-bulk-popup">Bulk upload</li>
            </ul>
            
          </label>
          
          
        </div> -->
        
        <div class="employee_detail">
            <div class="employee_detail_content">
                <h2>Employee Name :</h2>
                <h3>Kamal</h3>
            </div>
            <div class="employee_detail_content">
                <h2>Employee ID :</h2>
                <h3>001</h3>
            </div>
            <div class="employee_detail_content">
                <h2>Process :</h2>
                <h3>Welding</h3>
            </div>
            

        </div>

    <div class="table tableSpace">
        <table id="paragraphTable" class="display" style="width:100%">

        </table>
        <div class="portalSaveBtn">
            <button class="close-btn popupCloseBtn">Close</button>
            <button class="close-btn popupSaveBtn">Save</button>
        </div>

    </div>

</div>