
 <!--View Employee Detail Popup-->
    <div class="popUpContainer userDetail" >
      <div class="appPopupContainer"></div>
      <h2 class="navTitle CustomTitle">Employee Details</h2>
      <div class="popUpContentWrapper">
          <div class="userProfile">
              <img [src]="profileimage" alt="">
          </div>
          <div class="userDetails">
              <div class="popupContentLeft" >
                  <div class="popupContent">
                      <h3 class="popupSubTitle  inputDetail">Employee Name :</h3> 
                      <h3 class="popupSubTitle"> {{data.name}}</h3>
                      
                  </div>
                  <div class="popupContent">
                      <h3 class="popupSubTitle inputDetail">PS Number :</h3>
                      <h3 class="popupSubTitle">{{data.psNumber}} </h3>
                  </div>
                  
                  <div class="popupContent">
                      <h3 class="popupSubTitle inputDetail ">Email :</h3>
                      <h3 class="popupSubTitle ">{{data.emailAddress}} </h3>
                  </div>
                 
                  <div class="popupContent">
                      <h3 class="popupSubTitle inputDetail lastChild">Mobile :</h3>
                      <h3 class="popupSubTitle lastChild">{{data.mobilePhoneNumber}} </h3>
                  </div>
                 
                  </div>
                  <div class="popupContentRight">
                      
                  <div class="popupContent">
                      <h3 class="popupSubTitle inputDetail">Department Name :</h3>
                      <h3 class="popupSubTitle">{{data.departmentName}} </h3>
                      
                  </div>
                  
                  <div class="popupContent">
                      <h3 class="popupSubTitle inputDetail">Plant Location :</h3>
                      <h3 class="popupSubTitle">{{data.plantLocation}} </h3>
                      
                  </div>
                  <div class="popupContent">
                      <h3 class="popupSubTitle inputDetail lastChild">IS :</h3>
                      <h3 class="popupSubTitle lastChild">{{data.immediateSupervisorEmployeeName}} </h3>
                     
                  </div>
                 
                 
                  
              </div>
  
          </div>
      </div>
  
  <mat-dialog-actions align="end">
      <!-- <button mat-button mat-dialog-close>Cancel</button> -->
      <button mat-button  [mat-dialog-close]="true" color="primary"  cdkFocusInitial>Close</button>
    </mat-dialog-actions>
  </div>      
