
<div class="topContent">
    <h2 class="title CustomTitle mainTitle">Product Group & Line</h2>
    <div class="topContent_btn">
      <button class="btn btn-secondary drop-Btn ExportBtn ">Download Template</button>
       
      
  <!--upload dropdown field-->
  <mat-form-field class="dropDownBtn" appearance='outline'>
    <mat-select name="countryReactiveVaraible"  placeholder="+ Add Product Group">
      <mat-option (click)="singleUploadDialog(napsSingleUploadPopup)">Single Upload</mat-option>
      <mat-option (click)="BulkUploadDialog(napsBulkUploadPopup)"> Bulk Upload</mat-option>
    </mat-select>
  </mat-form-field>
  
  <!--Single upload-->
  <ng-template #napsSingleUploadPopup>
    <div class="popUpContainer">
      <h2 class="navTitle CustomTitle">Create Product</h2>
      
      <div class="formContainer">
         <!-- <form #f = "ngForm" name="form" (submit)="addLtvlEmployeeData(f)">  -->
         
        <!-- <div class="singleUploadForm" [formGroup]="formValue"> -->
            <div class="formLeftContent productGroupContent" [formGroup]="formValue">  
            <mat-form-field appearance="fill">
              <mat-label>Product Group</mat-label>
               <input  name="productGroup" formControlName="productGroup" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label >Product Line</mat-label>
              <!-- <input  [(ngModel)]="EmpData.ps_number" name="ps_number" matInput > -->
              <input  name="productLine" formControlName="productLine" matInput >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Supervisor Name</mat-label>
              <input  name="supervisorEmployeeName"formControlName="supervisorEmployeeName"  matInput >
            </mat-form-field>
         
          </div> 

          <!-- <div class="formRightContent" [formGroup]="formValue">
            <mat-form-field appearance="fill">
              <mat-label>IS</mat-label>
              <input  name="immediateSupervisorEmployeeName" formControlName="immediateSupervisorEmployeeName" matInput >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Plant Location</mat-label>
              <input  name="plantLocation" formControlName="plantLocation" matInput >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-select placeholder="Department Name">
                <mat-option *ngFor="let departmentName of departments" [value]="departmentName.value">
                  {{departmentName.viewValue}} 
                </mat-option>
                
              </mat-select>
            </mat-form-field>
          
          </div> -->
       
        </div>
       
      <!-- </div> -->
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button  color="primary" (click)="addProduct()" cdkFocusInitial>Save</button>
      </mat-dialog-actions>
         </div>  
  
  </ng-template>
  
  <!--Bulk Upload-->
  <ng-template #napsBulkUploadPopup>
  
    <div class="popUpContainer">
      <h2 class="navTitle CustomTitle">Attach Your Documents</h2>
      <div class="bulkUploadPopupContentWrapper popupContentWrapper">
          <div class="bulkUploadPopupContainer popupContentContainer">
              <div class="dragContainer">
                  <div class="dragContent">
                      <!-- <fa-icon [icon] ="faCloudArrowUp" class="uploadIcon">UPLOAD</fa-icon> -->
                      <h3>Drag and drop here<br>or</h3>
                       <button class="browseFilesBtn">Browse files</button> 
                      <!-- <h3 class="dropFileBtn">Browse Files</h3> -->
                  </div>
              </div>
          </div>
      </div>
      <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancel</button>
          <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
          <button mat-button color="primary">Upload</button>
        </mat-dialog-actions>
      </div>
      
  </ng-template>
        
    </div>
  </div>