<div class="rightContent">
    <div class="topContent">
        <h2 class="title CustomTitle mainTitle">Training Recommendation</h2>
        <input class="searchField" type="text" placeholder="Search">
    </div>
    <!-- <div class="bottomContent">
        <input class="searchField" type="text" placeholder="Search">
         <button class="Click-here addContent">+ Add Department</button> 
    </div> -->

    <div class="accordion-content">



        <div class="tab-Content">

            <div id="London" class="w3-container city">
                <div class="accordion-container trainingAccordion">
                    <div class="set" style="display: inline-block;">
                        <a href="#" style="width: 100%;">
                            <label>Welding</label>
                            <label> No of Employees : 4</label>
                            <i class="fa fa-plus"></i>

                        </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                                <button class="training_popup addContent">Download</button>

                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                            <label>Welding</label>
                            <label> No of Employees : 4</label>
                            <i class="fa fa-plus"></i>


                        </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTableTwo" class="display" style="width:100%">

                                </table>
                                <button class="training_popup addContent">Download</button>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                            <label>Welding</label>
                            <label> No of Employees : 4</label>
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTableThree" class="display" style="width:100%">

                                </table>
                                <button class="training_popup addContent">Download</button>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                            <label>Welding</label>
                            <label> No of Employees : 4</label>
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTableFour" class="display" style="width:100%">

                                </table>
                                <button class="training_popup addContent">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div id="Paris" class="w3-container city" style="display:none">
                <div class="accordion-container">
                    <div class="set">
                        <a href="#">
                    Vestibulum 
                    <i class="fa fa-plus"></i>
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                    Phasellus 
                    <i class="fa fa-plus"></i>
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                    Praesent 
                    <i class="fa fa-plus"></i>
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                    Curabitur 
                    <i class="fa fa-plus"></i> 
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Tokyo" class="w3-container city" style="display:none">
                <div class="accordion-container">
                    <div class="set">
                        <a href="#">
                    Vestibulum 
                    <i class="fa fa-plus"></i>
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                    Phasellus 
                    <i class="fa fa-plus"></i>
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                    Praesent 
                    <i class="fa fa-plus"></i>
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="set">
                        <a href="#">
                    Curabitur 
                    <i class="fa fa-plus"></i> 
                  </a>
                        <div class="content">
                            <div class="table">
                                <table id="paragraphTable" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>

    <!-- <div class="table">
        <table id="paragraphTable" class="display" style="width:100%">

        </table>

    </div> -->

</div>
