<div class="contentWrapper dataTableContentWrapper">
    <div class="contentContainer">
        <div class="appContainer"></div>
        <div class="leftContent">
          <app-side-nav-bar></app-side-nav-bar>
          </div>

<div class="rightContent">
    <div class="topContent">
        <h2 class="title CustomTitle mainTitle">Second Review</h2>
        <input class="searchField" type="text" placeholder="Search" id="popupField">
    </div>

    <div class="employee_detail">
        <div class="employee_detail_content">
            <h2>Employee Name :</h2>
            <h3>Kamal</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Employee ID :</h2>
            <h3>001</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Process :</h2>
            <h3>Welding</h3>
        </div>
        

    </div>
   
    <div class="table tableSpace">
        <table id="paragraphTable" class="display" style="width:100%">

            <table  mat-table matTableExporter  #exporter="matTableExporter"   matSort class="mat-elevation-z8 tableDataContent">
      
                <ng-container matColumnDef="Skill Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill Name </th>
                <td mat-cell *matCellDef="let element"> {{element.skillName}} </td>
                </ng-container>
            
              <ng-container matColumnDef="Assessment 1 Level">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment 1 Level </th>
                <td mat-cell *matCellDef="let element" > {{element.firstAssessmentSkillLevel}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Assessment 1 Training">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment 1 Training </th>
                <td mat-cell *matCellDef="let element"> {{element.firstAssessmentTrainingRec}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Review 1 Level">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Review 1 Level </th>
                <td mat-cell *matCellDef="let element"> {{element.firstReviewSkillLevel}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Assessment 2 Level">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment 2 Level</th>
                <td mat-cell *matCellDef="let element"> {{element.level}} </td>
                </ng-container>

                <ng-container matColumnDef="Assessment 2 Training">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment 2 Training</th>
                    <td mat-cell *matCellDef="let element"> {{element.Training}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Review 2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment 2 Training</th>
                        <td mat-cell *matCellDef="let element"> {{element.Training}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Comments">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment 2 Training</th>
                            <td mat-cell *matCellDef="let element"> {{element.Training}} </td>
                            </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
            
              </table>

        </table>
        <div class="portalSaveBtn">
            <button class="close-btn popupCloseBtn">Close</button>
            <button class="close-btn popupSaveBtn">Save</button>
        </div>

    </div>

</div>
</div>
</div>
