<p>second-assessment works!</p>

<div class="rightContent">
    <div class="topContent">
        <h2 class="title CustomTitle mainTitle">Second Assessment</h2>
        <input class="searchField" type="text" placeholder="Search" id="popupField">
    </div>
    
    <div class="employee_detail">
        <div class="employee_detail_content">
            <h2>Employee Name :</h2>
            <h3>Kamal</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Employee ID :</h2>
            <h3>001</h3>
        </div>
        <div class="employee_detail_content">
            <h2>Process :</h2>
            <h3>Welding</h3>
        </div>
       

    </div>
   
    <div class="table tableSpace">
        <table id="paragraphTable" class="display" style="width:100%">

        </table>
        <div class="portalSaveBtn">
            <button class="close-btn popupCloseBtn">Close</button>
            <button class="close-btn popupSaveBtn">Save</button>
        </div>

    </div>

</div>